*{
    box-sizing: border-box;
}

.form1{
    width:40%;
    padding:10px;
    margin:auto;
    border: 1px solid #ebdfdf;
    border-radius: 5px;

}
h1{
    text-align: center;
}
.showerr{
    color:red;
}